In [1]:
import pandas as pd

In [2]:
df = pd.read_json('result.json')

In [3]:
df.head()

,name,type,id,messages
0,Discussion on ML and DL By Krish,public_supergroup,10054082092,"{'id': 9798, 'type': 'service', 'date': '2020-..."
1,Discussion on ML and DL By Krish,public_supergroup,10054082092,"{'id': 9799, 'type': 'message', 'date': '2020-..."
2,Discussion on ML and DL By Krish,public_supergroup,10054082092,"{'id': 9800, 'type': 'service', 'date': '2020-..."
3,Discussion on ML and DL By Krish,public_supergroup,10054082092,"{'id': 9801, 'type': 'service', 'date': '2020-..."
4,Discussion on ML and DL By Krish,public_supergroup,10054082092,"{'id': 9802, 'type': 'service', 'date': '2020-..."

In [4]:
df['messages'].head()

0    {'id': 9798, 'type': 'service', 'date': '2020-...
1    {'id': 9799, 'type': 'message', 'date': '2020-...
2    {'id': 9800, 'type': 'service', 'date': '2020-...
3    {'id': 9801, 'type': 'service', 'date': '2020-...
4    {'id': 9802, 'type': 'service', 'date': '2020-...
Name: messages, dtype: object

In [5]:
df.shape

(13121, 4)

In [6]:
df['messages'].shape

(13121,)

In [7]:
df['messages'].to_json('new.json',index=True)

In [8]:
df2 = pd.read_json('new.json')

In [9]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,13111,13112,13113,13114,13115,13116,13117,13118,13119,13120
id,9798,9799,9800,9801,9802,9803,9804,9805,9806,9807,...,24028,24029,24030,24031,24032,24033,24034,24035,24036,24037
type,service,message,service,service,service,service,message,message,service,service,...,message,service,message,message,message,message,service,message,service,message
date,2020-06-10T22:58:18,2020-06-10T22:58:32,2020-06-10T23:01:02,2020-06-10T23:01:24,2020-06-10T23:03:25,2020-06-10T23:05:18,2020-06-10T23:05:42,2020-06-10T23:07:36,2020-06-10T23:08:46,2020-06-10T23:09:22,...,2020-07-14T12:28:08,2020-07-14T12:28:23,2020-07-14T12:29:12,2020-07-14T12:31:55,2020-07-14T12:33:09,2020-07-14T12:43:55,2020-07-14T12:52:15,2020-07-14T12:54:27,2020-07-14T12:56:31,2020-07-14T12:57:00
actor,Mohit Jindal,NaN,Pradeep,Lijitha,Rohit Jain,S Raut,NaN,NaN,Soumya Ranjan,C B,...,NaN,Nandha kishore,NaN,NaN,NaN,NaN,Anand,NaN,Sj Bby,NaN
actor_id,611389237,NaN,973393289,1299771418,1250027868,595207405,NaN,NaN,924389871,359369119,...,NaN,1255111776,NaN,NaN,NaN,NaN,1068394140,NaN,921502515,NaN

In [10]:
df3 = df2.T

In [11]:
df3.shape

(13121, 23)

In [12]:
df3.head()

,id,type,date,actor,actor_id,action,inviter,text,from,from_id,...,height,members,message_id,edited,forwarded_from,file,thumbnail,mime_type,media_type,duration_seconds
0,9798,service,2020-06-10T22:58:18,Mohit Jindal,611389237,join_group_by_link,Krish Naik,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9799,message,2020-06-10T22:58:32,NaN,NaN,NaN,NaN,Make a random model and calc the rmse score th...,Piyush Kumar,1217107241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9800,service,2020-06-10T23:01:02,Pradeep,973393289,join_group_by_link,Krish Naik,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9801,service,2020-06-10T23:01:24,Lijitha,1299771418,join_group_by_link,Krish Naik,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9802,service,2020-06-10T23:03:25,Rohit Jain,1250027868,join_group_by_link,Krish Naik,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df3.columns

Index(['id', 'type', 'date', 'actor', 'actor_id', 'action', 'inviter', 'text',
       'from', 'from_id', 'reply_to_message_id', 'photo', 'width', 'height',
       'members', 'message_id', 'edited', 'forwarded_from', 'file',
       'thumbnail', 'mime_type', 'media_type', 'duration_seconds'],
      dtype='object')

In [14]:
len(df3['actor_id'].unique())

3088

In [15]:
len(df3[df3['type'] == 'service'])

3152

In [16]:
df3 = df3[df3['type'] != 'service']

In [17]:
df3.shape

(9969, 23)

In [18]:
df3.head(2)

,id,type,date,actor,actor_id,action,inviter,text,from,from_id,...,height,members,message_id,edited,forwarded_from,file,thumbnail,mime_type,media_type,duration_seconds
1,9799,message,2020-06-10T22:58:32,NaN,NaN,NaN,NaN,Make a random model and calc the rmse score th...,Piyush Kumar,1217107241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9804,message,2020-06-10T23:05:42,NaN,NaN,NaN,NaN,Hi all,Rohit Jain,1250027868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df3['actor'].unique()

array([nan], dtype=object)

In [20]:
df3['action'].unique()

array([nan], dtype=object)

In [21]:
df3['inviter'].unique()

array([nan], dtype=object)

In [22]:
df3['actor_id'].unique()

array([nan], dtype=object)

In [23]:
df3 = df3.drop(['type','actor','action','inviter','actor_id','members','message_id'],axis=1)

In [24]:
df3.shape

(9969, 16)

In [25]:
df3.head(2)

,id,date,text,from,from_id,reply_to_message_id,photo,width,height,edited,forwarded_from,file,thumbnail,mime_type,media_type,duration_seconds
1,9799,2020-06-10T22:58:32,Make a random model and calc the rmse score th...,Piyush Kumar,1217107241,9796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9804,2020-06-10T23:05:42,Hi all,Rohit Jain,1250027868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df3['file'].unique()

array([nan], dtype=object)

In [36]:
df3['thumbnail'].unique()

array([nan], dtype=object)

In [ ]:
df3[''].unique()

In [33]:
df3['photo'].unique()

array([nan,
       '(File not included. Change data exporting settings to download.)'],
      dtype=object)

In [28]:
df3 = df3[df3['file'] != '(File not included. Change data exporting settings to download.)' or df3['photo'] != 'df3['file'].unique()']

In [29]:
df3.head(2)

,id,date,text,from,from_id,reply_to_message_id,photo,width,height,edited,forwarded_from,file,thumbnail,mime_type,media_type,duration_seconds
1,9799,2020-06-10T22:58:32,Make a random model and calc the rmse score th...,Piyush Kumar,1217107241,9796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9804,2020-06-10T23:05:42,Hi all,Rohit Jain,1250027868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df3.shape

(9890, 16)