In [1]:
import pandas as pd
import re
import matplotlib as plt

df=pd.read_csv('new2.csv')
df.head()

,id,date,text,from,from_id,reply_to_message_id,edited,forwarded_from,contact_information,contact_vcard
0,9799,2020-06-10T22:58:32,Make a random model and calc the rmse score th...,Dragon Master,1217107241,9796.0,NaN,NaN,NaN,NaN
1,9804,2020-06-10T23:05:42,Hi all,Rohit Jain,1250027868,NaN,NaN,NaN,NaN,NaN
2,9805,2020-06-10T23:07:36,Ha my name is rohit jain and I joined your gro...,Rohit Jain,1250027868,NaN,NaN,NaN,NaN,NaN
3,9809,2020-06-10T23:18:52,I'm working on a dataset where text and it's s...,Mukul Sharma,1117859453,NaN,NaN,NaN,NaN,NaN
4,9811,2020-06-10T23:19:46,Can anyone in the group help me out... I'm ha...,Mukul Sharma,1117859453,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['text'] =

In [4]:
def message_clean(df):
    #for i in range(len(df)):
    message = ''
    if df.loc['text'][0] == '[':
        text = df.loc['text'].strip().strip('[').strip(']')        
        #print(i , ": ", text)
        escapes = ''.join([chr(char) for char in range(1, 32)])
        translator = str.maketrans('', '', escapes)
        t = text.translate(translator)
        results = re.findall(r"'(.*?)'|\"(.*?)\"|({.*?})", t)
        results = [item for elem in results for item in elem if len(item)] # Clean empty records
        for e in results:
            #print(e.strip())
            if(e[0]=='{'):
                d = eval(e)
                #print('type dict: ',d,'\n')
                #print(d['text'])
                message = message + " " + d['text'].strip()
            else:
                message = message + " " + e.strip()
    else:
        message = df.loc['text']
    #print(i , ':' , message)
    #df.iloc[i]['message'] = message
    return message

In [5]:
df['message'] = df.apply(message_clean,axis=1)
df.head()

TypeError: 'float' object is not subscriptable

In [ ]:
#top 10 active person
df['from_id'].value_counts().head(10)

In [ ]:
#count letters  in message and create new columns
#messages_df['Letter_Count'] = messages_df['Message'].apply(lambda s : len(s))
#messages_df['Word_Count'] = messages_df['Message'].apply(lambda s : len(s.split(' ')))

In [ ]:
#discrete_columns = [['date', 'Time', 'Author', 'Message']]
#messages_df[discrete_columns].describe()

#continuous_columns = [['Letter_Count', 'Word_Count']]
#messages_df[continuous_columns].describe()

In [ ]:
#total letters and words sent
#messages_df['Letter_Count'].sum(), messages_df['Word_Count'].sum()

In [ ]:
# total words by each from id
#total_word_count_grouped_by_author = messages_df[['Author', 'Word_Count']].groupby('Author').sum()
#sorted_total_word_count_grouped_by_author = total_word_count_grouped_by_author.sort_values('Word_Count', ascending=False)
#top_10_sorted_total_word_count_grouped_by_author = sorted_total_word_count_grouped_by_author.head(10)
#top_10_sorted_total_word_count_grouped_by_author.plot.barh()
#plt.xlabel('Number of Words')
#plt.ylabel('Authors')

In [ ]:
#most common number of words
#plt.figure(figsize=(15, 2)) # To ensure that the bar plot fits in the output cell of a Jupyter notebook
#word_count_value_counts = messages_df['Word_Count'].value_counts()
#top_40_word_count_value_counts = word_count_value_counts.head(40)
#top_40_word_count_value_counts.plot.bar()
#plt.xlabel('Word Count')
#plt.ylabel('Frequency')

In [ ]:
#most message by date

#messages_df['date'].value_counts().head(10).plot.barh() # Top 10 Dates on which the most number of messages were sent
#plt.xlabel('Number of Messages')
#plt.ylabel('Date')

In [ ]:
#most active time
#messages_df['Time'].value_counts().head(10).plot.barh() # Top 10 Times of the day at which the most number of messages were sent
#plt.xlabel('Number of messages')
#plt.ylabel('Time')

In [ ]:
#top hour
#messages_df['Hour'] = messages_df['Time'].apply(lambda x : x.split(':')[0]) # The first token of a value in the Time Column contains the hour (Eg., "20" in "20:15")


#messages_df['Hour'].value_counts().head(10).sort_index(ascending=False).plot.barh() # Top 10 Hours of the day during which the most number of messages were sent
#plt.xlabel('Number of messages')
#plt.ylabel('Hour of Day')